.newListSelected {
	background: url(images/select_bg.gif) no-repeat !important;
	height:18px;
	top: 0px !important;
	padding:2px 0px 0px 2px;
	width: 221px;
	outline: none;
	display: inline-block;
}

.newListSelected div {
	display:block;
	font-size:1em;
	padding: 2px 0px 0px 2px;
	text-align:left !important;
	width: 221px;
}
.selectedTxt {
	background: none !important;
}

ul.newList {
	list-style:none;
	width: 221px;
	border-left: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	background: #D5D5D5;
	top: 19px !important;
	left: 0;
	height: auto;
	overflow: auto;
	text-align: left !important;
	position:absolute;
	z-index:9999;
}

ul.newList li {
	padding: 2px 2px !important;
}
.newListHover {
	background: #33a8e5;
	color: #fff !important;
	cursor:default;
}

.newListSelHover {
	cursor:default;
}

#contentLeft, #contentRight {
	width: 240px;
	background: #fff;
	color: #333;
	margin: 5px;
	height: 100%;
	min-height: 300px;

}
#contentLeft div, #contentRight div {
	background: url(images/content_bg.gif) repeat-y;
}
#contentLeft h3, #contentRight h3, #exportoptions h3{
	margin: 0px 0px 3px 0px;
}
.contenttop {
	background: url(images/content_top_bg.gif);
	display: block;
	height: 5px;
}

.contentbottom {
	background: url(images/content_bottom_bg.gif);
	display: block;
	height: 5px;
}
#contentLeft ul, #contentRight ul {
	height: 100%;
	min-height: 300px;
	display: block;
}

#contentLeft ul li, #contentRight ul li{
	height: 19px;
	width: 222px;
	background: url(images/field_bg_out.gif);
	color: #fff;
	padding: 3px;
	margin: 3px 6px;
	display: block;
	text-indent: 5px;
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}


#exportoptions {
	float: left;
	margin: 5px;
	width: 364px;
	font-size: 11px;
	color: #333;
}

#exportoptions div {
	background: url(images/options_bg.gif);
}

#clearselected {
	background: url(images/page_white_delete.png) 0% 10% no-repeat;
	padding: 0px 0px 0px 24px;
	display: block;
	cursor: pointer;
	margin: 5px;
	font-size: 11px;
	height: 16px;
}

#exportoptions div form {
	padding: 0px 6px;
}
#exportoptions div form input {
	background: url(images/input_bg.gif);
	width: 215px;
	height: 16px;
	line-height: 20px;
	font-size: 11px;
	border: none;
}
#exportoptions .optionstop {
	background: url(images/options_top_bg.gif);
	display: block;
	height: 5px;
}

#exportoptions .optionsbottom {
	background: url(images/options_bottom_bg.gif);
	display: block;
	height: 5px;
}

#selected-fields .ui-state-highlight, #unselected-fields .ui-state-highlight {
	background: url(images/field_bg_placeholder.gif);
	border: none;
}

#unselected-fields li:hover, #selected-fields li:hover, .ui-sortable-helper, .ui-draggable-dragging {
	background: url(images/field_bg_over.gif);
	border: none;
	color: #fff;
}

#exportoptions label {
	width: auto;
	font-weight: normal;
	font-size: 11px;
}


.export_btn {
	background: url(images/export_btn_bg_out.gif) no-repeat;
	color: #fff;
	width: 120px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 5px;
	display: inline-block;
	vertical-align: top;
}
#exportnow {
	margin: 0px;
}

.export_btn:hover {
	background: url(images/export_btn_bg_over.gif) no-repeat;
	color: #fff;	
}

#message {
	margin: 5px;
	background: #e9ffcf !important;
	border: 1px solid #9ada50;
	padding: 5px;
	color: #588227;
	font-weight: bold;
}